body{
    font-family: 'Karla', sans-serif;
    font-size: 1rem;
    font-weight: 400;
}
h1{
    font-family: 'DM Serif Display', serif;

}
.container-fluid{
    padding: 0.9% 7%;
}
hr{
    border-style: none;
    border-top: solid 1px;
    width: 20%;
    margin-left: 0;
    margin-bottom: 2.5rem;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
/************************** TITLE ***************************/

.title-pattern-right{
    position: absolute;
    z-index: 2;
    right: 0; 
    width: 28.5%; 
}
#title .nav-title{
    background-color: white;
    position: relative;
    z-index: 3;
}

/* NAVBAR */
nav{
    background-color: white;
}
.nav-item{
    margin-right: 20px;
}
.nav-link{
    color: hsl(273, 4%, 51%);
}
.nav-link:hover{
    color: hsl(270, 9%, 17%);
}
#plans-link{
    border: 2px solid hsl(270, 9%, 17%);
    padding: 0.3rem 2rem;
    color:hsl(270, 9%, 17%);
}
#plans-link:hover{
    background-color: hsl(270, 9%, 17%);
    color: white;
}

/* Main Content */

.main-content{
    background-color: hsl(256, 26%, 20%);
    text-align: left; 
}
.main-content .container-fluid{
    padding-top: 4%;
    padding-bottom: 4%;
}
/* .intro-img{
    position: absolute;
    z-index: 1; 
} */
/* .title-pattern-left{
    
} */
.main-content-hr{
    border-color: white;
}
.main-content-head{
    color: white;
    width: 60%;
    font-size: 3rem;
}
.main-content-text{
    color: white;
    width: 90%;
    padding-bottom: 1rem;
}
.col-lg-6 #plans-link{
    border-color: white;
    color: white;
}
.col-lg-6 #plans-link:hover{
    background-color: white;
    color:  hsl(270, 9%, 17%) ;
}

/************************** FEATURE ***************************/

#feature{
    background-color: white;
    /* position: relative; */
}